.header{
  height: 200px;
  background-color:rgb(255, 234, 225) ;
}

.header h1{
  letter-spacing: 7px;
}

.rowlist div{
  width: 100%;
}

.rowlist{
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.trash:hover{
  cursor: pointer;
  color: red;
}